@use '@/styles/mixins' as *;

.header {
  background: var(--c-primary);
  color: var(--c-white);
}

.header-top {
  border-bottom: 1px solid var(--border-header);

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-block: 0.75rem;
  }
}

.contact-info {
  display: flex;
  gap: 2.5rem;

  &__link {
			transition: color 0.3s ease-in-out;
			font-weight: 300;
			@include hover {
				color: var(--c-brand)
			}
    &::before {
      color: var(--c-lightgray);
    }
  }
}

.header-bottom {
  padding-block: 0.9375rem;
  &__inner {
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 2rem;
  &__link {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 300;
		transition: color 0.3s ease-in-out;

    @include hover {
      color: var(--c-brand);
			text-decoration: underline;
			text-underline-offset: 8px;
    }
  }
}
