<article class="bike-card">
  <div class="bike-card__image">
    <img
      class="bike-card__img"
      src="/src/assets/images/bicycles/{{bikeImageName}}.webp"
      alt="Bike picture"
      width="244"
      height="184"
      loading="lazy"
    />
  </div>
  <div class="bike-card__content">
    <h3 class="bike-card__title">{{bikeName}}</h3>
    <p class="bike-card__label">{{bikeLabel}}</p>
    <div class="bike-card__bottom">
      <div class="bike-card_price"><span class="bike-card_cost">$ {{bikePrice}} </span>/ Days</div>
      <button class="bike-card__btn">rent</button>
    </div>
  </div>
</article>
