:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Anton', sans-serif;

	--c-primary: #212223;
	--c-brand: #FF285B;
	--c-white: #fff;
	--c-lightgray: #B2B2B9;
	--bg-brand: #381C75;
	--border-header: #474747;
}











