:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Anton', sans-serif;

  --c-primary: #353637;
  --c-secondary: #381c75;
  --c-brand: #ff285b;
  --c-white: #fff;
	--c-gray: #62656A;
  --c-lightgray: #b2b2b9;

  --border-header: #474747;

	--tr-color: color 0.3s ease-in-out;
	--tr-background: background-color 0.2s ease-in-out;
}
